
body {
    background: #eee;
}



#img-div {
    background: white; 
    padding: 10px;
}

#image {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}

#tribute-info {
    justify-content: center;
    justify-items: center;
}